@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?30736371');
    src: url('../font/fontello.eot?30736371#iefix') format('embedded-opentype'),
         url('../font/fontello.woff?30736371') format('woff'),
         url('../font/fontello.ttf?30736371') format('truetype'),
         url('../font/fontello.svg?30736371#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: 'Roboto', sans-serif;
    background: url(../assets/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    height: 100%;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #B1EDE8;  
}

a:hover {
    color: #efefef;
}

#content {
    color: #ffffff;
    height: 100vh;
}

#content, .content-sub {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-sub {
    width: 100%;
    flex-flow: row wrap;
    background: rgba(0, 0, 0, 0.35);
    padding: 2em 0 2em 0;
    animation: fadein 1s;
}

.social-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 2.5em;
    
    display: inline-block;
    text-decoration: inherit;
    width: 1.3em;
    margin: 0 0.2em;
    text-align: center;
    vertical-align: middle;
}

.bold {
    font-weight: 600;
}

.side img {
    height: auto;
    min-width: 5em;
    max-width: 15em;
    margin-right: 2em;
}

.item h1 {
    font-size: 3em; 
}

.item h1 > span {
    color: #B1EDE8;
    font-weight: 100;
}

.item p {
    padding-top: 0.7em;
    font-size: 1.1em;
    color: #d1d1d1;
}

.contact {
    text-transform: uppercase;
    padding-top: 3em;
}

.contact > span {
    vertical-align: middle;
}

.contact a > span {
    text-transform: none;
}

@keyframes fadein {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content-sub {
        flex-direction: column;
    }

    .side img {
        margin-right: 0;
    }

    .item {
        text-align: center;
    }
}